@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}
.page-wrapper{
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
  display: none;
}

.navigation-link {
 color: #000000;
 font-weight: 700;
 font-size: 20px;
 line-height: 24px;
 text-decoration: none;
}
.active-element {
  border-bottom: #756257 2px solid;
}

.main-button{
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-link-search{
  background: url(../images/search.svg) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.navigation-link-hearf {
  background: url(../images/heart.svg) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.favorites-counter{
  background-color: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

.banner {
  background-image: url(../images/index/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 458px;
}

.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages p {
  font-size: 22px;
line-height: 26px;
}

.advantages h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}


.backgraund-not-even {
  background:rgba(131, 179, 211, 0.12) ;
}

.backgraund-even {
  background: rgba(131, 179, 211, 0.2);
}
.backgraund-extreme {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.newsletter-form-main {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/index/Subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 415px;
  font-size: 22px;
  line-height: 26px;
  width: 1200px;
  height: 415px;
}
.newsletter-form-catalog {
  font-size: 22px;
  line-height: 26px;
}

.newsletter h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.newsletter-input{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.newsletter-button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
 text-decoration: none;
}
.search-form h2{
 font-weight: 700;
 font-size: 30px;
 line-height: 36px;
 text-transform: uppercase;
}

.button-form-close{
  width: 52px;
  height: 52px;
 border-radius:50%;
 background: #F2F2F2;
  border:none;
 }

.form-laber{
  font-weight: 700;
 font-size: 20px;
 line-height: 24px;
}
.form-input{
  font-weight: 700;
 font-size: 18px;
 line-height: 24px;
}
.hint {
  width: 26px;
 height: 26px;
 border-radius:50%;
 background-color: #83B3D3;
 text-align: center;
 }
 .hint-text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  background-color:  #333333;
  width: 256px;
  height: 152px;
  border-radius: 10px;
 }
 .button-form-search{
  width: 577px;
 height: 60px;
 border-radius: 10px;
 background-color: #83B3D3;
 font-family: "PT Sans", sans-serif;
 font-weight: 700;
 font-size: 20px;
 line-height: 24px;
 color: #FFFFFF;
 text-transform: uppercase;
 }
.filter{
  background-image: url(../images/catalog/Filter.jpg) ;
  background-repeat: no-repeat;
  background-size: 1200px 412px;
  width: 1200px;
  height: 412px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  display: block;
}
.breadcrumbs-header{
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs-header h1{
  font-weight: 700;
 font-size: 60px;
 line-height: 78px;

}
.breadcrumbs-item{
  display: inline;
}
/* Для проверки стилей кнопок */
.catalog-filter-group{
  display: inline-block;

}
.catalog-filter-cost{
  display: inline-block;


}

.filter-form-buttom {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.buttom-reset{
  background-color: transparent ;
}
.form-buttom-range{
  background: #FFFFFF;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
.cost-line{
  border-bottom: 4px solid #FFFFFF;
}
.section-header h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.sorting-select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
}
.sorting-link-item{
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
}
.product-card{
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  }
.product-card a{
    color: #000000;
    text-decoration: none;
}
.product-card h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.product-card b{
    font-weight: normal;
}
/* Перестали отображатья в браузере. Уточнить на созвоне */
.rating_2 {
  background-image: url(../images/catalog/icon-star.svg);
  background-repeat: repeat-x;
  width: 48px;
}
.rating_3 {
  background-image: url(../images/catalog/icon-star.svg);
  background-repeat: repeat-x;
  width: 72px;
}
.rating_4 {
  background-image: url(../images/catalog/icon-star.svg);
  background-repeat: repeat-x;
  width: 96px;
}

.product-list .button-more-detailed{
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.product-list .button-favourites{
  background-color: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.product-rating{
  width: 140px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
}
.pagination-item{
  background: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}
.active-pagination{
  background: #F2F2F2;
  border-radius: 4px;
}
.pagination-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
}
.pagination-link-activ {
  color: #000000;
}
.section-footer{
  border-top: 1px solid #E6E6E6;
}
